body{
    font-family: 'Poppins', sans-serif;

}
.background-color{
    background-color: #F4FAFD;
}
.icon a i{
    color: #f39c12;
}
.my-icon i{
    margin: 10px;
    font-size: 20px;
}
@media only screen and (min-width: 0px) and (max-width: 575px) {
    .image-all{
        display: none;
    }
}
@media only screen and (min-width: 576px) and (max-width: 768px) {
    .image-all{
        display: none;
    }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
    .image-all{
        display: none;
    }
}